<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listado de facturas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
    <ion-item *ngFor="let invoice of invoices" (click)="itemTapped($event, invoice)">
      <div class="flex-between-center">
        <div>
          <h2>{{ invoice.invoiceNumber }}</h2>
          <p>{{ invoice.total}}</p>
        </div>
        <ion-icon name="arrow-dropright"></ion-icon>
      </div>
    </ion-item>

  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
