page-list {
  .flex-between-center {
    display: flex; justify-content: space-between; align-items: center;
  }
  .show-badge {
    background: lightcyan;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.8em;
  }
}
