<!--
  Generated template for the CreateInvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-navbar>
      
    </ion-navbar>
    <ion-title>Crear factura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Número de la factura</ion-label>
          <ion-input type="text" [(ngModel)]="invoice.invoiceNumber"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Cliente</ion-label>
          <ion-input type="text" [(ngModel)]="invoice.customer"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item>
          <ion-label floating>Proveedor</ion-label>
          <ion-input type="text" [(ngModel)]="invoice.supplier"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Fecha de emisión</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                        cancelText="Cancelar" doneText="Establecer"
                        [(ngModel)]="invoice.date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Total</ion-label>
          <ion-input type="number" [(ngModel)]="invoice.total"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <button ion-button round (click)="createInvoice()">Crear factura</button>


  </ion-grid>

</ion-content>
