<!--
  Generated template for the ShowInvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ invoice.invoiceNumber }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{ invoice.invoiceNumber }}</h1>
  <p class="flex-between-center">
    <span>{{ invoice.customer }}</span>
    <span>{{ invoice.supplier }}</span>
  </p>
</ion-content>
